Render System=OpenGL Rendering Subsystem

[OpenGL Rendering Subsystem]
Display Frequency=57 Hz
FSAA=16
Fixed Pipeline Enabled=Yes
Full Screen=No
RTT Preferred Mode=FBO
VSync=No
Video Mode=1280 x  800
sRGB Gamma Conversion=No
