msvc/* linguist-vendored
Logo/* linguist-vendored
doc/* linguist-vendored

*.svg linguist-vendored
*.vcxproj linguist-vendored
*.xml linguist-vendored
*.vcxproj.filters linguist-vendored

example/hlms/Hlms/*  linguist-vendored
template/hlms/Hlms/* linguist-vendored



