.vscode/
*.TMP

#CMake things
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

build/

# generated shader file in the example and template directiory
example/*.glsl
template/*.glsl

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.iobj

# Deployed game
deploy/
*.bat

# Compilled code
*_obj/
debug/
release/

# Compiled Dynamic libraries
*.so
*.so.*
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Log files
*.log

#MSSQL files
*.sdf
*.opensdf
*.suo

#Random MSVC files
*.tlog
*.cache
*.manifest
*.pdb
*.lastbuildstate
*.exp
*.psess
*.vspx
*.user
*.vcxproj.user
*.opendb
*.db
*.ipdb

#Windows text file
*.txt

#Windows executable
*.exe

#editor temporary files
*.swp
.*.swp

#ctags
tags

#compilled example
example/test*

#documentation render
doxygen/Gen/

#ogre configuration
ogre.cfg

#valgrind cache
vgcore.*

#compilled template
template/Game
template/Game.exe


#utilities have to be manually tracked
utils/

#precompiled headers
*.pch
*.gch
ipch/

#Blender cache of old files
*.blend1
*.blend@


obj/*
